body{
    overflow-x: hidden;
}
*{
    margin:0;
    padding: 0;
    box-sizing: content-box;

}

:root{
    COLOR:darkblue;

}
/* ||   --- heater section  ---  ||  */
.ul-dd{
    position: absolute;
    right: 215px;  
    display: none; 
}
.dd-list{
    display: block;
    background: yellowgreen;
    color: white;
    padding: 5px 16px
}
.dd-content{
    display: inline;

}
.pointer:hover .ul-dd{
    display: block;
}

.p{
    letter-spacing: 0.5px;
    line-height: 19px;

}
.header{
    background-color: whitesmoke;
    height: 60px;
    width: 100%;
}
h1{
    color: rgb(30,45,67);
    display: inline;
}
.pre-header{
    margin-left: 51px;
    position: absolute;
    top: 4px;
    font-size: 34px;
    font-weight: 800;
    font-family: "poppins", sans-serif;
    color:darkblue;
    cursor:pointer;
}
.list{
    display:inline;
    margin-inline: 20px;
}
.align{
    position: absolute;
    top: 15px;
    right: 347px;
    font-size: 18px;
}
.list:hover{
    cursor:pointer;
    color: blue;
    
}
.appointement{
    position: absolute;
    right: 81px;
    top: 12px;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 11px 21px;
    border-radius: 31px
}
/* || --- banner section --- ||  */

.banner{
    background-image: url(../IMAGE/doctor.1.jpg);
    height:550px;
    background-repeat: no-repeat;
    background-color: aqua;

}
.banner-info{
    position: absolute;
    top: 150px;
    left: 80px;

}
.h1-heading{
    font-size: 63px;
    color: darkblue;
    letter-spacing: 3px;
    font-weight: 608px;
    font-family:"poppins", sans-serif;

}
.h5-heading{
    font-size: 30px;
    color: blue;
}
.get-start{
    position: relative;
    left: 280px;
    top: 20px;
}
.start{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 19px;
    background-color: blue;
    border-radius: 20px;
    padding: 5px 20px;
}
/*   || ---  services box   --- ||  */
.box-1{
    display: inline-block;
    height: 508px;
    width: 341px;
    margin-left: 46px;
    position: absolute;
    top: 500px;
}
.content{
    padding: 30px;
    background: #1977cc;
    height: 350px;
    border-radius: 7px;
    color: #fff;
}
.text-center{
    text-align: center;
    margin-top: 140px;
}
.text-center{
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    position: relative;
    bottom: 74px;
    left: 51px;

}
.more-btn{
    text-decoration: none;
    color: white;
}
.content .text-center:hover{
    color: #1977cc;
    background-color:white;
}

.bx {
    color: blue;
    font-size: 44px;
    position: relative;
    top: 9px;
    left: 55px;
    text-align: center;

}
.box-2,.box-3,.box-4 .h3{
    text-align: center;
}



.box-2{
    background-color:white;
    height: 300px;
    width:180px;
    box-shadow: 6px 6px 14px 6px grey;
    border-radius: 12px;
}
.box-3{
    background-color:white;
    height: 300px;
    width:180px;
    box-shadow: 6px 6px 14px 6px grey;
    border-radius: 12px;
}
.box-4{
    background-color:white;
    height: 300px;
    width:180px;
    box-shadow: 6px 6px 14px 6px grey;
    border-radius: 12px;
}
.box-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    gap: 28px;
    position: absolute;
    left: 24%;
    top: 550psx;
}
.services{


}
/* ||   --- about section   ---  ||  */

.about{
    background-image: url(../IMAGE/about.jpg);
    background-color: red;
    background-repeat: no-repeat;
    height: 434px;
    width: 1079px;
    background-size: cover;
}
.about-flex{
    display: flex;
    gap: 22px;
    position: absolute;
    top: 1000px;
}
.about-h2{
    color: darkblue;
    font-weight: 900;
    font-size: 28px;
   
}
.logo-flex p{
    font-size: 18px;
}
.a-tag a{
    text-decoration: none;
    color: darkblue;
    font-size: 22px;
}
.a-tag a:hover{
    color: blue;
}


/* ||   --- counter section   ---  ||  */
.count-model{
    position: absolute;
    top: 1451px;
    left: 32px;
}
.counts{
    background-color: rgb(190, 186, 186);
    height: 266px;
    width: 1292px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}
.counts-box{
    background-color: white;
    height: 177px;
    width: 229px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
/* ||   lets start services     || */
 #services-link{
    position: absolute;
    top:1750px;
 }

 .services-info h2{
    display: block;
    text-align: center;
    font-size: 37px;
 }
 .services-info p{
    font-size: 19px;
    font-weight: 500;
    display: block;
    text-align: center;
   
 }
 .services-info{
    padding-bottom: 23px;
 }
 .services-bx a{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
 }
 /*  */
 .services-bx a:hover{
    color:white;
}
.services-bx p:hover{
    color:white;
}  

.services-bx{
    background-color: white;
    height: 237px;
    width: 280px;
    border: grey;
    border-style: solid;
    border-width: 4px;
}
.row{
    display: flex;
    overflow-x: hidden;
    gap: 12px 78px;
    flex-wrap: wrap;
    margin-left: 127px;
}
.icon-box{
    background-color: aqua;
    height: 45px;
    width: 34px;
    padding-left: 32px;
    margin-top: 65px;
    margin-left: 97px;
}
.services-bx h4 a,p{
    text-align: center;
    display: block;
   
}
.services-bx:hover {
    background-color:#1977cc;
    color: #fff;
   /* height: 237px;
    width: 280px;
    border: grey;
    border-style: solid;
    border-width: 4px;      */
}

/* ||   make an appoinmet     || */
#appoinment-link{
    position: absolute;
    top: 2403px;
}
.cointainer ,h2,p{
    display: block;
    text-align: center;
}

.section-appoinment-bg{
    background-color: #f1f7fd;
    height: 400px;
}
.col-bx3{
    margin-top: 45px;
}
.rbx-1{
    padding: 13px 38px;
    line-height: 3px;
    font-size: 19px;
    color: black;
    letter-spacing: 4px;
}
.rbx-2{
    letter-spacing: 6.5px;
    line-height: 23px;
}
#date{
    padding: 5px 61px;
    letter-spacing: 4px;
    line-height: 31px;
    font-size: 18px;
}
.from-select{
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px !important;
   }
   .form-select-doctor{
    padding: 13px 138px 15px 19px;
    letter-spacing: 2px;
    line-height: 13px;
    font-size: 18px;
    margin-left: 3px;
   }
   .cointainer,p{
    letter-spacing: 0.5px;
    padding-top: 24px;
    font-size: 18px;
   }
.f-sub{
    position: relative;
    top: 10px;
    right: 505px;
}
section{
    display: block;
}

.vbn{
    background-color: #1977cc;
    height: 480px;
    width: auto;
}


@media screen and (max-width:480px) {
   .pre-header{
        display: none;
    }
    .align{
        display: none;
    }
}




